<a href="https://colab.research.google.com/github/vvrakesh27/VENKATA-RAKESH/blob/main/Playing_with_RDD_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

****PySpark Installation****

In [ ]:
#install Apache Spark 3.0.1 with Hadoop 2.7 from here.
!wget https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz


# Now, we just need to unzip that folder.
!tar -xvzf spark-3.0.0-bin-hadoop2.7.tgz
!pip install findspark




import os
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"
import findspark
findspark.init()

**Spark session**

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Spark Demo App").getOrCreate()
sc = spark.sparkContext

**Problem Statement 01:**

Create and RDD[String] as shown below

['C Programming','C++','Java','Scala','Python' ]

In [41]:
string_values = ['C Programming','C++','Java','Scala','Python']
string_rdd = sc.parallelize(string_values)
print(type(string_rdd))
string_rdd.collect()

<class 'pyspark.rdd.RDD'>

['C Programming', 'C++', 'Java', 'Scala', 'Python']

**1. Print the elements which are greater than length 5**

In [46]:
string_rdd_len_grt_5 = tech_rdd.filter(lambda x : len(x)>5)
list_len = string_rdd_len_grt_5.collect()
for i in list_len:
  print(i)

C Programming
Python

**2. Print the elements in reverse order.**

In [47]:
for i in reversed(list_len):
  print(i)

Python
C Programming

**Problem Statement 02:**

Generate an RDD[Int] which is multiples of 1024 lets say the numbers are in kilobytes and we
want to convert each element to its respective MB and perform the following tasks.

In [73]:
int_ele = [102400,112640000,30720,2048,21504000]
kb_rdd = sc.parallelize(int_ele)
kb_rdd.collect()

[102400, 112640000, 30720, 2048, 21504000]

**1. Convert each element of RDD to its respective MB.**

In [81]:
mb_rdd = kb_rdd.map(lambda ele : ele/1024)
mb_ele = mb_rdd.collect()
print("Elements converted from kb to MB are :")
for i in mb_ele:
  print(i,"MB")

Elements converted from kb to MB are :
100.0 MB
110000.0 MB
30.0 MB
2.0 MB
21000.0 MB

**2. Filter elements which are greater than 10 MB**

In [79]:
fil_rdd = mb_rdd.filter(lambda ele : ele>10)
fil_ele = fil_rdd.collect()
print("Elements greater then 10 MB are:")
for i in fil_ele:
  print(i,"MB")

Elements greater then 10 MB are:
100.0 MB
110000.0 MB
30.0 MB
21000.0 MB

**3. Apply transformation to convert MB to GB**

In [82]:
gb_rdd = mb_rdd.map(lambda ele : ele/1024)
gb_ele = gb_rdd.collect()
print("Elements converted from MB to GB are :")
for i in gb_ele:
  print(i,"GB")

Elements converted from MB to GB are :
0.09765625 GB
107.421875 GB
0.029296875 GB
0.001953125 GB
20.5078125 GB